.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blacK;
  height: 100vh;
}

.input-test {
  width: 100px;
}
.test1 {
  display: flex;
}
.cursor-test {
  width:8px;
  height:30px;
  background-color:black;
}
.showCursor {
  width:8px;
  height:30px;
  background-color: black;
}
.hideCursor {
  width:8px;
  height:30px;
  background-color: white;
}
.textInput {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  align-items: center;
}